<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h2>All Users</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Account Created</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}">John Doe</td>
            <td th:text="${user.email}">johndoe@example.com</td>
            <td th:text="${user.creationDate}">2021-01-01</td>
        </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-primary">Back to Home</a>
</div>
</body>
</html>
